<form>
  <h2>New Event</h2>

  <ul class="new-event">
    <li>
      <label for="event-date">Date</label>
      <input name="event[date]" id="event-date" type="text" data-format="DD-MM-YYYY h:mm:A" data-template="DD / MM / YYYY     hh : mm A" value="<%= moment().format('DD-MM-YYYY h:mm:A') %>" required>
    </li>

    <li>
      <label for="event-privacy">Private?</label>
      <select name="event[location_privacy]" id="event-privacy">
        <option value="true"
          <% if (myEvent.location_privacy) { %><%= "selected" %><% } %>
        >Yes</option>
        <option value="false"
          <% if (!myEvent.location_privacy) { %><%= "selected" %><% } %>
        >No</option>
      </select>
    </li>

    <li>
      <label for="event-location">Location</label>
      <input name="event[location]" id="event-location" type="text" value="<%= myEvent.escape('location') %>" placeholder="Search: Address or Landmark" required>
    </li>

    <li>
      <div class="map group"></div>
    </li>

    <li>
      <label for="event-slots">Player Slots</label>
      <select name="event[slots]" id="event-slots">
        <% for (var i = 1; i < 144; i++) { %>
          <option value="<%= i %>"
            <% if (myEvent.slots === i) { %>
              <%= "selected" %>
            <% } %>
          ><%= i %>
          </option>
        <% } %>
      </select>
    </li>

    <li>
      <label for="game-search" id="game-search-label">Search Games</label>
      <input id="game-search" type="text" placeholder="Search: Game Title">
    </li>

    <li>
      <label for="event-game" id="event-game-label"></label>
      <select name="event[game_id]" id="event-game">
        <option value="" class="disabled-option" disabled></option>
      </select>
    </li>

    <li class="disabled-button hidden">
      <strong>Searching...</strong>
    </li>

    <li class="submit-button">
      <button>Host Game!</button>
    </li>
  </ul>
</form>