<article class="group">
  <strong class="heading"><%= moment(cityEvent.escape('date')).format('dddd, MMMM Do YYYY @ h:mm A') %></strong>
  <strong class="location"><%= cityEvent.escape('location') %></strong>

  <strong class="slots"><a href="#events/<%= cityEvent.id %>"><%= cityEvent.get('slots') %> slots left</a></strong>
  
  <a href="#users/<%= eventHost.id %>/profile">
    <img src="<%= eventHost.get('avatar') %>" class="thumb"><br>
    <%= eventHost.escape('nickname') %>
  </a>
</article>