<article class="group">
  <header class="heading"><%= moment(cityEvent.escape('date')).format('dddd, MMMM Do YYYY @ h:mm A') %></header>
  <address class="location"><%= cityEvent.escape('location') %></address>

  <strong class="slots"><a href="#events/<%= cityEvent.id %>"><%= cityEvent.get('slots') %> slots left</a></strong>
  
  <a href="#users/<%= eventHost.id %>/profile" class="thumb">
    <img src="<%= eventHost.get('avatar') %>">
    <strong><%= eventHost.escape('nickname') %></strong>
  </a>
</article>