<article class="group">
  <header class="heading">
  <a href="#events/<%= cityEvent.get('id') %>"><%= cityEvent.escape('game_title') %></a>
  <%= moment(cityEvent.escape('date')).format('dddd, MMMM Do YYYY @ h:mm A') %></header>
  <address class="location"><%= cityEvent.escape('location') %></address>

  <% var slotsRemaining = cityEvent.get('slots') - cityEvent.get('num_attendees') %>
  <% if ((slotsRemaining > 0) && (eventHost.id === Meeplespace.currentUser.id)) { %>
    <strong class="slots"><form class="destroy-event"><button>Destroy</button></form></strong>
  <% } else if (((slotsRemaining > 0)) && (Meeplespace.currentUser.id > 0)) { %>
    <% var myEventIds = [] %>
    <% Meeplespace.currentUser._myEvents.models.forEach(function(el) { myEventIds.push(el.id); }) %>
    <% if (myEventIds.indexOf(cityEvent.id) > -1) { %>
      <strong class="slots"><form class="cancel-attend"><button>Cancel</button></form></strong>
    <% } else { %>
      <strong class="slots"><form class="confirm-attend"><button><%= slotsRemaining %> slots left</button></form></strong>
    <% } %>
  <% } else if (((slotsRemaining > 0)) && !(Meeplespace.currentUser.id > 0)) { %>
    <strong class="slots"><a href="/" class="require-login"><%= slotsRemaining %> slots left</a></strong> 
  <% } else { %>
    <strong class="noslots"><span>Full Game</span></strong>
  <% } %>
  
  <a href="#users/<%= eventHost.id %>/profile" class="thumb">
    <img src="<%= eventHost.get('avatar') %>">
    <strong><%= eventHost.escape('nickname') %></strong>
  </a>
</article>