<strong><%= cityEvent.escape('date') %></strong><br>
<strong><%= cityEvent.escape('location') %></strong><br>
<strong><%= cityEvent.get('slots') %></strong><br>
<img src="<%= eventHost.get('img_url') %>"><br>
<a href="#users/<%= eventHost.id %>"><%= eventHost.escape('nickname') %></a>