<strong><%= moment(cityEvent.escape('date')).format('dddd, MMMM Do YYYY @ h:mm A') %></strong><br>
<strong><%= cityEvent.escape('location') %></strong><br>
<strong><%= cityEvent.get('slots') %></strong><br>
<img src="<%= eventHost.get('avatar') %>"><br>
<a href="#users/<%= eventHost.id %>/profile"><%= eventHost.escape('nickname') %></a>