<form>
  <h2>Account</h2>

  <ul class="account-details">
    <li>
      <label for="user-email">Email</label>
      <input name="user[email]" id="user-email" type="text" value="<%= user.escape('email') %>" required>
    </li>

    <li>
      <label for="user-nickname">Nickname</label>
      <input name="user[nickname]" id="user-nickname" type="text" value="<%= user.escape('nickname') %>" required>
    </li>

    <li>
      <label for="user-city">City</label>
      <select name="user[city_id]" id="user-city">
        <% Meeplespace.cities.each(function (city) { %>
          <option value="<%= city.id %>"
            <% if (city.id === Meeplespace.currentUser.get('city_id')) { %>
              <%= "selected" %>
            <% } %>
          ><%= city.get('name') %>
          </option>
        <% }); %>
      </select>
    </li>

    <li>
      <label for="user-short-bio">Short Bio</label>
      <textarea id="user-short-bio" name="user[short_desc]" placeholder="A short description of yourself"><%= user.escape('short_desc') %></textarea>
    </li>

    <li>
      <label for="user-long-bio">Long Bio</label>
      <textarea id="user-long-bio" name="user[long_desc]" placeholder="A longer description. This should probably talk about what kind of games you want to play and how your events will be run."><%= user.escape('long_desc') %></textarea>
    </li>

    <li>
      <label for="user-avatar">Avatar Upload</label>
      <input type="file" name="user[avatar]" id="user-avatar" class="upload-avatar">
    </li>

    <li class="user-avatar-preview hidden">
      <label for="user-avatar-preview">Avatar Preview</label>
      <img src="" id="user-avatar-preview" class="preview-avatar">
    </li>

    <li>
      <button>Update Account</button>
    </li>
  </ul>
</form>