<h2>Sign Up</h2>

<form>

  <label for="user-email">Email</label><br>
  <input name="user[email]" id="user-email" type="text" value="<%= user.escape('email') %>"><br><br>

  <label for="user-nickname">Nickname</label><br>
  <input name="user[nickname]" id="user-nickname" type="text" value="<%= user.escape('nickname') %>"><br><br>

  <label for="user-password">Password</label><br>
  <input name="user[password]" id="user-password" type="password"><br><br>

  <label for="user-city">City</label><br>
  <select name="user[city_id]" id="user-city">
    <% Meeplespace.cities.each(function (city) { %>
      <option value="<%= city.id %>"
         <% if (city.id === user.city_id) { %>
          <%= "selected" %>
         <% } %>
      ><%= city.name %>
      </option>
    <% }); %>
  </select><br><br>

  <button>Let's Play Games!</button>
</form>