<form>
  <h2>Sign Up</h2>

  <ul>
    <li>
      <label for="user-email">Email</label>
      <input name="user[email]" id="user-email" type="text" value="<%= user.escape('email') %>" placeholder="example@example.com" required>
    </li>

    <li>
      <label for="user-nickname">Nickname</label>
      <input name="user[nickname]" id="user-nickname" type="text" value="<%= user.escape('nickname') %>" placeholder="Super Cool Person" required>
    </li>

    <li>
      <label for="user-password">Password</label>
      <input name="user[password]" id="user-password" type="password" placeholder="enter your password" required>
    </li>

    <li>
      <label for="user-city">City</label>
      <select name="user[city_id]" id="user-city">
        <% Meeplespace.cities.each(function (city) { %>
          <option value="<%= city.id %>"
             <% if (city.id === user.city_id) { %>
              <%= "selected" %>
             <% } %>
          ><%= city.get('name') %>
          </option>
        <% }); %>
      </select>
    </li>

    <li>
      <button>Let's Play Games!</button>
    </li>
  </ul>
</form>